* {
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 3px;
  margin: .7em 10px;
  border-bottom: 1px solid #999;
}

.d-flex {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  width: fit-content;
}

.areas {
  margin: 0 auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.areas .json-area {
  margin: 0 auto;
  resize: none;
  width: 300px;
  height: 100px;
  border-radius: 5px;
}

.areas p {
  font-size: 1.1rem;
}

p {
  text-align: center;
}

#info {
  margin: 10px;
  height: 20px;
  font-weight: bold;
  color: #ff0000;
}

#info.complete {
  background-color: #47de6d;
  color: #fff;
  width: fit-content;
  margin: calc(10px - 0.4em) auto;
  padding: .4em .7em 0;
  vertical-align: middle;
  border-radius: 5px;
}

.btn {
  display: block;
  margin: 10px auto;
  border: 0;
  background: #4287f5;
  color: #fff;
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
  transition: .3s all;
}

.btn:hover {
  transform: scale(110%);
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, .3);
}

#add-field.btn {
  background: #47de6d;
}

#clear-all {
  background: #de4747;
}

.addition-area-container div {
  position: relative;
}

.addition-area-container .json-area {
  margin: 0;
  position: relative;
}

.addition-area-container .remove-area {
  position: absolute;
  top:0;
  right: 0;
  margin: 0;
  border-radius: 0 5px 0 50%;
  width: 30px;
  height: 30px;
  background: #de4747;
}